.contacts {
    display: flex;
    background-color: rgba(246, 247, 248, 255);
}

.right-side {
    width: 100%;
}

.content {
    display: flex;
    margin-top: 70px;
    width: 100%;
    height: calc(100vh - 70px);
}

.right-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.contact-list {
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: white;
    box-shadow: 0px 0px 1px 0px;
}

.contact {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid black;
}

.headline {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 30px;
    margin-left: 30px;

    h1 {
        margin-top: 0;
        margin-bottom: 0;
        color: #2a3647;
        font-size: 40px;
        font-weight: bold;
        margin-right: 40px;
    }

    h2 {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 40px;
        color: #2a3647;
        font-weight: initial;
    }

}

.line {
    border-left: 3px solid #29abe2;
    height: 50px;
}

.button {
    margin-bottom: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: flex-end;
}

.button-23 {
    // margin-right: 10px;
    background-color: #2a3647;
    border: 1px solid #2a3647;
    border-radius: 8px;
    box-sizing: border-box;
    color: rgba(246, 247, 248, 255);
    cursor: pointer;
    display: inline-block;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    // margin: 0;
    outline: none;
    padding: 6px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: 110px;
}

.button-23:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow .2s;
}

.button-23:active {
    background-color: #2a3647;
    border-color: #000000;
    transform: scale(.96);
}

.button-23:disabled {
    border-color: #DDDDDD;
    color: #DDDDDD;
    cursor: not-allowed;
    opacity: 1;
}