<div class="contacts">
    <div>
        <app-sidebar></app-sidebar>
    </div>
    <div class="right-side">
        <div>
            <app-header></app-header>
        </div>
        <div class="content">
            <div class="contact-list">
                <div class="contact" *ngFor="let user of users">
                    <div>
                        <!-- User img -->
                    </div>
                    <div>
                        <div>
                            <span><b>Name:</b> {{user.last_name}}, {{user.first_name}}</span>
                        </div>
                        <div>
                            <span><b>Userame:</b> {{user.username}}</span>
                        </div>
                        <div>
                            <span><b>Email:</b> {{user.email}}</span>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="right-content">
                <div class="headline">
                    <h1>Contacts</h1>
                    <div class="line"></div>
                    <h2>Better with a team</h2>
                </div>
                <div>
                    <!-- Contact Detail (only show when click on a contact) -->
                </div>
                <!-- <div class="button">
                    <button class="button-23" role="button" (click)="openDialog()">New contact</button>
                </div> -->
            </div>
        </div>
    </div>
</div>