<div>
    <div>
        <app-sidebar></app-sidebar>
    </div>
    <div class="right-side">
        <div>
            <app-header></app-header>
        </div>
        <div>
            <div>
                <!-- Contacts list -->
            </div>
            <div>
                <div>
                    <!-- Headline -->
                </div>
                <div>
                    <!-- Contact Detail (only show when click on a contact) -->
                </div>
            </div>
        </div>
    </div>
</div>