<div class="add-contact">
    <div class="sidebar">
        <div>
            <img src="assets/img/Join-logo-white.png">
        </div>
        <div class="headline">
            <h1>Add contact</h1>
            <h2>Tasks are better with a team!</h2>
        </div>
        <div class="line"></div>
    </div>
    <form class="content">
        <div class="input-fields">
            <div class="input-name">
                <input type="text" placeholder="First name" required>
                <input type="text" placeholder="Last name" required>
            </div>
            <input type="email" placeholder="Email" required>
            <input type="tel" placeholder="Phone" required>
        </div>
        <div class="buttons">
            <button class="button-23-2" role="button" [mat-dialog-close]>Cancel</button>
            <button class="button-23" role="button">Create contact</button>
        </div>
    </form>
</div>