<div class="add-contact">
    <div class="sidebar">
        <div>
            <img src="assets/img/Join-logo-white.png">
        </div>
        <div>
            <h1>Add contact</h1>
            <p>Tasks are better with a team!</p>
        </div>
        <div>
            <!-- line -->
        </div>
    </div>
    <div>
        <div class="input-fields">
            <input type="text" placeholder="Name">
            <input type="email" placeholder="Email">
            <input type="tel" placeholder="Phone">
        </div>
        <div>
            <button class="button-23-2" role="button" [mat-dialog-close]>Cancel</button>
            <button class="button-23" role="button">Create contact</button>
        </div>
    </div>
</div>