<div class="summary">
    <div class="headline">
        <h1>Summary</h1>
        <!-- line -->
        <h2>Everything in a nutshell!</h2>
    </div>
    <div class="boxes">
        <div class="box">
            <p>
                <!-- Anzahl Tasks -->
            </p>
            <p>
                Tasks in Board
            </p>
        </div>
        <div class="box margin">
            <p>
                <!-- Anzahl Tasks -->
            </p>
            <p>
                Tasks in Progress
            </p>
        </div>
        <div class="box">
            <p>
                <!-- Anzahl Tasks -->
            </p>
            <p>
                Awaiting feedback
            </p>
        </div>
    </div>
</div>