<div class="summary">
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>
    <div class="right-side">
        <div>
            <app-header></app-header>
        </div>
        <div class="summary-content">
            <div>
                <div class="headline">
                    <h1>Summary</h1>
                    <div class="line"></div>
                    <h2>Everything in a nutshell!</h2>
                </div>
                <div class="boxes">
                    <div class="box" [routerLink]="['/board']">
                        <p>
                            <!-- Anzahl Tasks -->
                        </p>
                        <p>
                            Tasks in Board
                        </p>
                    </div>
                    <div class="box margin" [routerLink]="['/board']">
                        <p>
                            <!-- Anzahl Tasks -->
                        </p>
                        <p>
                            Tasks in Progress
                        </p>
                    </div>
                    <div class="box" [routerLink]="['/board']">
                        <p>
                            <!-- Anzahl Tasks -->
                        </p>
                        <p>
                            Awaiting feedback
                        </p>
                    </div>
                </div>
                <div class="wide-box" [routerLink]="['/board']">
                    <div class="wide-box-detail">
                        <div>
                            <img src="assets/img/Urgent.png">
                        </div>
                        <div>
                            <!-- Anzahl -->
                            <p>Urgent</p>
                        </div>
                    </div>
                    <div class="line-2"></div>
                    <div>
                        <!-- Due date (always the most urgent task) -->
                        <p>Upcoming Deadline</p>
                    </div>
                </div>
                <div class="boxes">
                    <div class="middle-wide-box" [routerLink]="['/board']">
                        <div>
                            <img src="assets/img/To-do.png">
                        </div>
                        <div>
                            <!-- Anzahl -->
                            <p>To-do</p>
                        </div>
                    </div>
                    <div class="middle-wide-box" style="margin-left: 30px;" [routerLink]="['/board']">
                        <div>
                            <img src="assets/img/Done.png">
                        </div>
                        <div>
                            <!-- Anzahl -->
                            <p>Done</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="headline-2">
                <h1>Hello,</h1>
                <h1>
                    <!-- name of the user -->
                </h1>
            </div>
        </div>
    </div>
</div>