<!-- <app-sidebar></app-sidebar> -->

<!-- How make the white fields in a div? -->

<div class="summary">
    <div class="headline">
        <h1>Summary</h1>
        <!-- line -->
        <h2>Everything in a nutshell!</h2>
    </div>
    <div class="summary-show">
        <div class="fields">
            <div class="boxes">
                <div class="box">
                    <p>
                        <!-- Anzahl Tasks -->
                    </p>
                    <p>
                        Tasks in Board
                    </p>
                </div>
                <div class="box margin">
                    <p>
                        <!-- Anzahl Tasks -->
                    </p>
                    <p>
                        Tasks in Progress
                    </p>
                </div>
                <div class="box">
                    <p>
                        <!-- Anzahl Tasks -->
                    </p>
                    <p>
                        Awaiting feedback
                    </p>
                </div>
            </div>
            <div class="wide-box">
                <div class="wide-box-detail">
                    <div>
                        <img src="assets/img/Urgent.png">
                    </div>
                    <div>
                        <!-- Anzahl -->
                        <p>Urgent</p>
                    </div>
                </div>
                <div>
                    <!-- line (How make it?) -->
                </div>
                <div>
                    <!-- Due date (always the most urgent task) -->
                    <p>Upcoming Deadline</p>
                </div>
            </div>
            <div class="boxes">
                <div class="middle-wide-box">
                    <div>
                        <img src="assets/img/To-do.png">
                    </div>
                    <div>
                        <!-- Anzahl -->
                        <p>To-do</p>
                    </div>
                </div>
                <div class="middle-wide-box" style="margin-left: 30px;">
                    <div>
                        <img src="assets/img/Done.png">
                    </div>
                    <div>
                        <!-- Anzahl -->
                        <p>Done</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="headline-2">
            <h1>Hello</h1>
        </div>
    </div>
</div>