<mat-card class="login-view">
    <div class="header">
        <div>
            <img src="assets/img/Join-Logo.png">
        </div>
        <div class="sign-up">
            <p>Not a Join user?</p>
            <button [routerLink]="['/sign-up']" style="width: 85px; height: 40px;" class="button-23" role="button">Sign up</button>
        </div>
    </div>
    <mat-card class="login-input-card">
        <div class="login-input">
            <div class="headline">
                <h1>Log in</h1>
            </div>
            <div class="line">
                <!-- How make center? -->
                <!-- or border-bottom in class headline -->
            </div>
            <div class="input-fields">
                <input placeholder="Email" type="email">
                <input placeholder="Password" type="password">
                <!-- Change Design to default -->
            </div>
            <div class="sektion-4">
                <!-- chance class name -->
                <section class="example-section">
                    <mat-checkbox class="example-margin">Remember me</mat-checkbox>
                    <!-- Change Color -->
                </section>
                <a [routerLink]="['/forgot-password']">forgot my password</a>
            </div>
            <div class="buttons">
                <button class="button-23" role="button" [routerLink]="['/summary']">Log in</button>
                <button class="button-23-2" role="button" [routerLink]="['/summary']">Guest Log in</button>
            </div>
        </div>

    </mat-card>
</mat-card>