<mat-card class="login-view">
    <div>
        <!-- logo -->
        <!-- sign up button -->
    </div>
    <mat-card class="login-input-card">
        <div class="login-input">
            <div class="headline">
                <h1>Log in</h1>
            </div>
            <div class="line">
                <!-- How make flexible and center? -->
                <!-- or border-bottom in class headline -->
            </div>
            <div class="input-fields">
                <input placeholder="Email" type="email">
                <input placeholder="Password" type="password">
            </div>
            <div class="sektion-4">
                <!-- chance class name -->
                <section class="example-section">
                    <mat-checkbox class="example-margin">Remember me</mat-checkbox>
                    <!-- design fail -> why? -->
                </section>
                <a href="#">forgot my password</a>
            </div>
            <div class="buttons">
                <button class="button-23" role="button">Log in</button>
                <button class="button-23-2" role="button">Guest Log in</button>
            </div>
        </div>

    </mat-card>
</mat-card>