.sidebar {
    display: flex;
    padding-top: 50px;
    align-items: center;
    background-color: #2a3647;
    flex-direction: column;
    height: 100vh;
    width: 180px;
    padding-left: 0;
    padding-right: 0;
}

.logo {
    img {
        width: 80px;
    }
}

.links {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 100px;

    p {
        color: white;
        margin: 0;
    }
}

.links-2 {
    display: flex;
    position: absolute;
    bottom: 50px;
    width: 100%;
    p {
        color: white;
        margin: 0;
    }
}

.hover {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    img {
        width: 20px;
        height: 20px;
        margin-right: 20px;
    }
}

.hover:hover {
    background-color: #091931;
    cursor: pointer;
}