<mat-card class="sign-up-view">
    <div class="header">
        <img src="assets/img/Join-Logo.png">
    </div>
    <mat-card class="sign-up-input-card">
        <div class="arrow">
            <a [routerLink]="['/login']"><img src="assets/img/arrow-left.png"></a>
        </div>
        <form class="sign-up-input" #newUser="ngForm" (ngSubmit)="submitData(newUser)">
            <div class="headline">
                <h1>Sign up</h1>
            </div>
            <div class="line">
                <!-- How make center? -->
                <!-- or border-bottom in class headline -->
            </div>
            <div class="input-fields">
                <!-- <input type="hidden" name="redirect" value="/login/"> -->
                <div class="input-name">
                    <input ngModel name="first_name" type="text" placeholder="First name" required>
                    <input ngModel name="last_name" type="text" placeholder="Last name" required>
                </div>
                <div>
                    <input type="text" name="username" ngModel placeholder="username">
                    <input ngModel name="email" placeholder="Email" type="email" required>
                </div>
                <div>
                    <input ngModel name="password" placeholder="Password" type="password" required>
                    <input ngModel name="password2" placeholder="repeat password" type="password" required>
                </div>
                
            </div>
            <div class="buttons">
                <button type="submit" class="button-23" role="button" [routerLink]="['/login']">Sign up</button>
            </div>
        </form>

    </mat-card>
</mat-card>