<mat-card class="sign-up-view">
    <div class="header">
        <img src="assets/img/Join-Logo.png">
    </div>
    <mat-card class="sign-up-input-card">
        <div class="arrow">
            <a href="#"><img src="assets/img/arrow-left.png"></a>
        </div>
        <div class="sign-up-input">
            <div class="headline">
                <h1>Sign up</h1>
            </div>
            <div class="line">
                <!-- How make center? -->
                <!-- or border-bottom in class headline -->
            </div>
            <div class="input-fields">
                <input placeholder="Name" type="text">
                <input placeholder="Email" type="email">
                <input placeholder="Password" type="password">
            </div>
            <div class="buttons">
                <button class="button-23" role="button">Sign up</button>
            </div>
        </div>

    </mat-card>
</mat-card>