<div class="content">
    <div>
        <app-sidebar></app-sidebar>
    </div>
    <div class="right-side">
        <div>
            <app-header></app-header>
        </div>
        <div class="privacy">
            <h1>Privacy Policy</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci possimus dignissimos eum reprehenderit
                dolorem minus doloribus similique iure enim quae. Alias temporibus quasi cum voluptate, exercitationem
                expedita eligendi commodi distinctio ratione, eos nobis quidem laudantium accusantium veniam atque harum
                velit, autem reprehenderit quod dolorum. Ducimus molestias tenetur esse, repellat excepturi quisquam!
                Deleniti omnis facilis delectus itaque temporibus! Reiciendis, id aspernatur, quae blanditiis repellat
                suscipit deserunt laudantium nihil harum distinctio porro vitae accusantium voluptatem officiis
                assumenda accusamus sequi modi saepe fugit laboriosam facilis. Incidunt vitae quibusdam quod qui fuga,
                eum cumque blanditiis magni adipisci reiciendis, nesciunt enim. Dolores inventore consequuntur minima
                hic incidunt veritatis. Quasi nulla pariatur, similique id iure quam. Labore adipisci in nulla cumque
                repudiandae natus quo nostrum aspernatur. Nesciunt suscipit hic quae libero pariatur quo animi,
                dignissimos labore deserunt saepe culpa laborum vitae ad inventore, veritatis doloremque nulla cumque
                consequatur sed, quas ipsam. Repudiandae, sed sit ut tenetur provident harum iusto obcaecati expedita
                voluptate rerum veritatis qui aliquid omnis! Nam deserunt quas, eum ut voluptatum numquam quasi ab quo
                porro doloremque magni tenetur, exercitationem inventore ipsa. Laborum totam in exercitationem qui
                inventore. Velit, dolor molestiae. Commodi dolorem neque accusamus esse, amet deleniti dolore et minus.
                A, laborum! Ab eius labore suscipit aut, illo, sint inventore nihil vel cumque debitis officiis. Rerum,
                vero corrupti. Maiores quis iure quae. Odit labore neque cum commodi accusantium necessitatibus dolor
                voluptatem obcaecati id error cupiditate, totam, asperiores magni minima laudantium fugiat facilis?
                Perferendis quia expedita explicabo vitae neque in a odit illo amet dicta? Perspiciatis dolore minus
                eius sint hic fugiat, mollitia officiis sed sunt ipsum numquam vero nihil aliquam eaque, blanditiis
                voluptates accusamus quas corporis quis vitae. Minus praesentium numquam porro excepturi accusantium
                reprehenderit laudantium dolore rerum id ab, distinctio repellat eveniet, voluptatem cupiditate, eius
                hic. Minima nam quasi eius in exercitationem, aliquid, quis alias unde accusantium eaque, odit fuga
                quidem nemo molestias. Quam eligendi excepturi nam similique. Autem amet soluta cum tenetur facere
                inventore, et voluptate corrupti voluptatum ratione nobis distinctio totam ipsa quasi beatae ullam hic
                excepturi. Ex ducimus esse recusandae, beatae nam modi quasi ab consequuntur inventore provident nobis
                reiciendis, voluptate ipsa explicabo incidunt delectus totam mollitia. Dolorem cum labore deleniti
                impedit, quod accusantium soluta aliquid corporis officia dicta amet, fuga voluptatum nulla nemo unde
                animi qui consectetur vitae quo sed numquam sapiente odio reiciendis exercitationem. Officia iste facere
                cumque eaque similique, corrupti vitae. Odit inventore praesentium eius atque earum. Maxime totam
                quibusdam dolorum provident commodi, enim debitis fugit, veniam cupiditate praesentium explicabo aliquam
                dolorem vitae. Aperiam nulla, asperiores autem qui perferendis accusantium libero voluptatem aut
                consectetur porro nostrum veniam ipsam veritatis itaque accusamus necessitatibus vel quidem maxime, iste
                dignissimos quod molestias! Aut omnis officiis voluptatibus molestias laboriosam aspernatur voluptates
                maiores dicta modi quasi impedit est a eum, nam, sequi quisquam earum id! Eum vero quia temporibus
                repellendus officiis qui voluptates alias enim. Tenetur delectus architecto debitis aspernatur
                repudiandae sapiente cupiditate provident, amet rerum nam accusamus, aliquid dolore vero voluptatibus
                quo nemo, soluta fugit voluptatem deleniti expedita. Rerum, iste?</p>
        </div>
    </div>
</div>