<div class="board">
    <div>
        <app-sidebar></app-sidebar>
    </div>
    <div class="right-side">
        <div>
            <app-header></app-header>
        </div>
        <div class="content">
            <div class="head-section">
                <div class="headline">
                    <h1>Board</h1>
                </div>
                <div class="section">
                    <!-- Chance class name -->
                    <input placeholder="Find task" type="text">
                    <button class="button-23" role="button" (click)="openDialog()">Add Task +</button>
                </div>
            </div>
            <div class="all-tasks">
                <div class="tasks" *ngFor="let status of status_list">
                    <div class="status-headline">
                        <h3>{{status.name}}</h3>
                    </div>
                    <div class="todo-task" *ngFor="let task of tasks">
                        <div class="task" *ngIf="task.status == status.id">
                            <div class="category-backround">
                                <span>{{getCategoryName(task.category)}}</span>
                            </div>
                            <div>
                                <h4>
                                    <span>{{task.title}}</span>
                                </h4>
                                <p>
                                    <span>{{task.description}}</span>
                                </p>
                            </div>
                            <div class="list">
                                <div class="list-content">
                                    <span class="label">Due Date: </span>
                                    <span>{{task.date}}</span>
                                </div>
                                <div class="list-content">
                                    <span class="label">Prority: </span>
                                    <span>TEST {{getPriorityName(task.priority)}}</span>
                                </div>
                                <div class="list-content">
                                    <span class="label">Assigned To: </span>
                                    <span>{{getUsername(task.user)}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>