<div class="add-task">
    <div>
        <app-sidebar></app-sidebar>
    </div>
    <div class="right-side">
        <div>
            <app-header></app-header>
        </div>
        <form class="content" #taskPost="ngForm" (ngSubmit)="submitData(taskPost)" [noValidate]="false">
            <div class="headline">
                <h1>Add Task</h1>
            </div>
            <div class="form-section">
                <div class="input-fields">
                    <label for="">Title</label>
                    <input type="text" placeholder="Enter a title" required ngModel name="title">

                    <label for="">Description</label>
                    <textarea cols="30" rows="4" placeholder="Enter a Description" required name="description"
                        ngModel></textarea>

                    <label for="">Category</label>
                    <select name="dropdown" required name="category" ngModel>
                        <option value="" disabled selected>Select a category</option>
                        <option *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}</option>
                    </select>

                    <label for="">Assigned to</label>
                    <select name="dropdown" required name="user" ngModel>
                        <option value="" disabled selected>Select a user</option>
                        <option *ngFor="let user of users" [ngValue]="user.id">{{user.username}}</option>
                        <option value="User 2">User 2</option>
                    </select>
                </div>
                <div class="line"></div>
                <div class="input-fields">
                    <label for="">Due date</label>
                    <input type="date" required name="date" ngModel>

                    <label for="">Prio</label>
                    <div class="prio-buttons">
                        <button *ngFor="let priority of priorities" type="button"
                            [ngClass]="{'selected' : priority.id == selected_prio}"
                            (click)="select_prio(priority.id)">{{priority.name}}</button>
                    </div>
                    <input [(ngModel)]="selected_prio" type="hidden" name="priority">
                </div>
            </div>
            <div class="buttons">
                <button class="button-23-2" role="button">Clear</button>
                <button class="button-23" type="submit">Create Task</button>
            </div>
        </form>
    </div>
</div>




<!-- Evtl for select Prio -->

<!-- <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle value="bold">Bold</mat-button-toggle>
    <mat-button-toggle value="italic">Italic</mat-button-toggle>
    <mat-button-toggle value="underline">Underline</mat-button-toggle>
</mat-button-toggle-group> -->