<div>
    <div>
        <app-sidebar></app-sidebar>
    </div>
    <div class="right-side">
        <div>
            <app-header></app-header>
        </div>
        <div>
            <div>
                <!-- headline -->
            </div>
            <div>
                <div>
                    <!-- Reihe 1 -->
                </div>
                <div>
                    <!-- Reihe 2 -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="buttons">
    <button class="button-23-2" role="button">Clear</button>
    <button class="button-23" role="button">Create Task</button>
</div> -->