<mat-card class="forgot-password-view">
    <div class="header">
        <img src="assets/img/Join-Logo.png">
    </div>
    <mat-card class="forgot-password-input-card">
        <div class="arrow">
            <a [routerLink]="['/login']"><img src="assets/img/arrow-left.png"></a>
        </div>
        <form class="forgot-password-input">
            <div class="headline">
                <h1>I forgot my password</h1>
            </div>
            <div class="line">
                <!-- How make center? -->
                <!-- or border-bottom in class headline -->
            </div>
            <div class="text">
                <p>Don't worry! We will send you an email with the instructions to reset your password.</p>
            </div>
            <div class="input-fields">
                <input placeholder="Email" type="email" required>
            </div>
            <div class="buttons">
                <button class="button-23" role="button">Send me the email</button>
            </div>
        </form>

    </mat-card>
</mat-card>